In [1]:
import pandas as pd

In [2]:
import pymysql
from sqlalchemy import create_engine

In [3]:
pymysql.install_as_MySQLdb()

## Store CSV into DataFrame

In [4]:
Food_file = "C:/Users/New User/Desktop/PREWORK_SJT/Module-14-ETL-Project/Serlos/food_production_vs_climate/worldfoodproduction.csv"

https://www.kaggle.com/dorbicycle/world-foodfeed-production

In [5]:
food_df = pd.read_csv(Food_file, encoding='latin1')
food_df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [ ]:
food_df.describe()

In [ ]:
# Remove the rows with missing data
food_df = food_df.dropna(how="any")
food_df.count()

In [ ]:
food_df.columns

In [ ]:
food_df.dtypes

## Create new data set with select columns

In [6]:
food2011 = food_df[["Area Abbreviation","Area","Item Code", "Item","Element Code","latitude","longitude","Y2011","Unit"]]
food2011.head()

,Area Abbreviation,Area,Item Code,Item,Element Code,latitude,longitude,Y2011,Unit
0,AFG,Afghanistan,2511,Wheat and products,5142,33.94,67.71,4711.0,1000 tonnes
1,AFG,Afghanistan,2805,Rice (Milled Equivalent),5142,33.94,67.71,476.0,1000 tonnes
2,AFG,Afghanistan,2513,Barley and products,5521,33.94,67.71,203.0,1000 tonnes
3,AFG,Afghanistan,2513,Barley and products,5142,33.94,67.71,72.0,1000 tonnes
4,AFG,Afghanistan,2514,Maize and products,5521,33.94,67.71,191.0,1000 tonnes

In [7]:
food_2011 = food2011.loc[(food2011["Element Code"] == 5142)]
food_2011.head()

,Area Abbreviation,Area,Item Code,Item,Element Code,latitude,longitude,Y2011,Unit
0,AFG,Afghanistan,2511,Wheat and products,5142,33.94,67.71,4711.0,1000 tonnes
1,AFG,Afghanistan,2805,Rice (Milled Equivalent),5142,33.94,67.71,476.0,1000 tonnes
3,AFG,Afghanistan,2513,Barley and products,5142,33.94,67.71,72.0,1000 tonnes
5,AFG,Afghanistan,2514,Maize and products,5142,33.94,67.71,73.0,1000 tonnes
6,AFG,Afghanistan,2517,Millet and products,5142,33.94,67.71,14.0,1000 tonnes

### Connect to local database

In [8]:
connection_string = "root:toor@localhost/foodprod_db"
engine = create_engine(f'mysql://{connection_string}')

In [9]:
# Confirm tables
engine.table_names()

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)") (Background on this error at: http://sqlalche.me/e/e3q8)

### Load DataFrames into database

In [ ]:
food_2011.to_sql(name='area_abb', con=engine, if_exists='append', index=True)

In [ ]:
pd.read_sql_query('select * from area_abb', con=engine).head()

In [34]:
###The precipitation data is coming from the link below: Average precipitation in depth (mm per year). 
###Average precipitation is the long-term average in depth (over space and time) of annual precipitation in the country. 
###Precipitation is defined as any kind of water that falls from clouds as a liquid or a solid.

url = 'https://www.nationmaster.com/country-info/stats/Geography/Average-precipitation-in-depth/Mm-per-year#2011'

In [41]:
tables = pd.read_html(url)
tables

[        #                                            COUNTRY   AMOUNT  DATE  \
 0       1                              Sao Tome and Principe  3200.00  2011
 1       2                                   Papua New Guinea  3142.00  2011
 2       3                                    Solomon Islands  3028.00  2011
 3       4                                         Costa Rica  2926.00  2011
 4       5                                           Malaysia  2875.00  2011
 5       6                                             Brunei  2722.00  2011
 6       7                                          Indonesia  2702.00  2011
 7       8                                             Panama  2692.00  2011
 8       9                                         Bangladesh  2666.00  2011
 9      10                                           Colombia  2612.00  2011
 10     11                                               Fiji  2592.00  2011
 11     12                                       Sierra Leone  2526.00  2011
 12     13                                          Singapore  2497.00  2011
 13    =14                                            Liberia  2391.00  2011
 14    =14                                          Nicaragua  2391.00  2011
 15     16                                             Guyana  2387.00  2011
 16     17                                            Grenada  2350.00  2011
 17     18                                        Philippines  2348.00  2011
 18     19                                           Suriname  2331.00  2011
 19     20                                         Seychelles  2330.00  2011
 20     21                                        Saint Lucia  2301.00  2011
 21    =22                                Trinidad and Tobago  2200.00  2011
 22    =22                                             Bhutan  2200.00  2011
 23     24                                  Equatorial Guinea  2156.00  2011
 24     25                                              Burma  2091.00  2011
 25     26                                            Ecuador  2087.00  2011
 26     27                                           Dominica  2083.00  2011
 27     28                                        Puerto Rico  2054.00  2011
 28     29                                            Jamaica  2051.00  2011
 29     30                                          Mauritius  2041.00  2011
 ..    ...                                                ...      ...   ...
 176   150                                            Morocco   346.00  2011
 177   151                                        Afghanistan   327.00  2011
 178   152                                               Chad   322.00  2011
 179   153                                            Namibia   285.00  2011
 180  =154                                            Somalia   282.00  2011
 181  =154                                               Mali   282.00  2011
 182   156                                              Syria   252.00  2011
 183   157                                         Kazakhstan   250.00  2011
 184   158                                           Mongolia   241.00  2011
 185  =159                                         Cape Verde   228.00  2011
 186  =159                                               Iran   228.00  2011
 187   161                                           Djibouti   220.00  2011
 188   162                                               Iraq   216.00  2011
 189   163                                            Tunisia   207.00  2011
 190   164                                         Uzbekistan   206.00  2011
 191   NaN  Middle Eastern and North Africa average  (prof...   186.61  2011
 192   165                                              Yemen   167.00  2011
 193   166                                       Turkmenistan   161.00  2011
 194   167                                              Niger   151.00  2011
 195   168                                               Oman   125.00  2011
 196   169                                             Kuwait   121.00  2011
 197   170                                             Jordan   111.00  2011
 198   171                                         Mauritania    92.00  2011
 199   172                                            Algeria    89.00  2011
 200   173                                            Bahrain    83.00  2011
 201   174                               United Arab Emirates    78.00  2011
 202   175                                              Qatar    74.00  2011
 203   176                                       Saudi Arabia    59.00  2011
 204   177                                              Libya    56.00  2011
 205   178                                              Egypt    51.00  2011

      GRAPH  HISTORY
 0      NaN      NaN
 1      NaN      NaN
 2      NaN      NaN
 3      NaN      NaN
 4      NaN      NaN
 5      NaN      NaN
 6      NaN      NaN
 7      NaN      NaN
 8      NaN      NaN
 9      NaN      NaN
 10     NaN      NaN
 11     NaN      NaN
 12     NaN      NaN
 13     NaN      NaN
 14     NaN      NaN
 15     NaN      NaN
 16     NaN      NaN
 17     NaN      NaN
 18     NaN      NaN
 19     NaN      NaN
 20     NaN      NaN
 21     NaN      NaN
 22     NaN      NaN
 23     NaN      NaN
 24     NaN      NaN
 25     NaN      NaN
 26     NaN      NaN
 27     NaN      NaN
 28     NaN      NaN
 29     NaN      NaN
 ..     ...      ...
 176    NaN      NaN
 177    NaN      NaN
 178    NaN      NaN
 179    NaN      NaN
 180    NaN      NaN
 181    NaN      NaN
 182    NaN      NaN
 183    NaN      NaN
 184    NaN      NaN
 185    NaN      NaN
 186    NaN      NaN
 187    NaN      NaN
 188    NaN      NaN
 189    NaN      NaN
 190    NaN      NaN
 191    NaN      NaN
 192    NaN      NaN
 193    NaN      NaN
 194    NaN      NaN
 195    NaN      NaN
 196    NaN      NaN
 197    NaN      NaN
 198    NaN      NaN
 199    NaN      NaN
 200    NaN      NaN
 201    NaN      NaN
 202    NaN      NaN
 203    NaN      NaN
 204    NaN      NaN
 205    NaN      NaN

 [206 rows x 6 columns]]

In [42]:
df = tables[0]
df.columns = ['ID','COUNTRY', 'RAIN (mm)', 'DATE', 'blank', 'blank 2']
df.head()

  ID                COUNTRY  RAIN (mm)  DATE  blank  blank 2
0  1  Sao Tome and Principe     3200.0  2011    NaN      NaN
1  2       Papua New Guinea     3142.0  2011    NaN      NaN
2  3        Solomon Islands     3028.0  2011    NaN      NaN
3  4             Costa Rica     2926.0  2011    NaN      NaN
4  5               Malaysia     2875.0  2011    NaN      NaN

In [47]:
df.drop(['ID', 'blank', 'blank 2'], axis=1).head()

                 COUNTRY  RAIN (mm)  DATE
0  Sao Tome and Principe     3200.0  2011
1       Papua New Guinea     3142.0  2011
2        Solomon Islands     3028.0  2011
3             Costa Rica     2926.0  2011
4               Malaysia     2875.0  2011

In [48]:
Temperature_data = 'C:/Users/CAEAIZPU/OneDrive - kochind.com/Desktop/ETL Project/cckp_historical_data_0.csv'

In [49]:
Temperature_df = pd.read_csv(Temperature_data)
Temperature_df.head()

,ISO_3DIGIT,Jan_Temp,Feb_temp,Mar_temp,Apr_Temp,May_temp,Jun_Temp,July_Temp,Aug_Temp,Sept_temp,Oct_temp,Nov_Temp,Dec_temp,Annual_temp
0,AFG,0.07,2.11,7.60,13.37,18.22,23.20,25.26,23.77,19.03,12.99,7.00,2.43,12.92
1,AGO,22.58,22.68,22.78,22.35,20.74,18.37,17.95,19.90,22.19,23.18,22.79,22.61,21.51
2,ALB,2.02,3.22,6.04,9.92,14.44,17.93,20.54,20.48,17.16,12.27,7.58,3.65,11.27
3,ARE,18.43,19.43,22.61,26.58,30.62,32.46,33.80,33.55,31.74,28.34,24.06,20.28,26.83
4,ARG,20.80,19.90,17.51,14.05,10.65,7.66,7.42,9.02,11.53,14.67,17.54,19.83,14.22

In [57]:
Temperature_df.columns

Index(['ISO_3DIGIT', 'Jan_Temp', 'Feb_temp', 'Mar_temp', 'Apr_Temp',
       'May_temp', 'Jun_Temp', 'July_Temp', 'Aug_Temp', 'Sept_temp',
       'Oct_temp', 'Nov_Temp', 'Dec_temp', 'Annual_temp'],
      dtype='object')

In [58]:
Temperature_df.drop(['Jan_Temp', 'Feb_temp', 'Mar_temp', 'Apr_Temp',
       'May_temp', 'Jun_Temp', 'July_Temp', 'Aug_Temp', 'Sept_temp',
       'Oct_temp', 'Nov_Temp', 'Dec_temp'], axis=1).head()

  ISO_3DIGIT  Annual_temp
0        AFG        12.92
1        AGO        21.51
2        ALB        11.27
3        ARE        26.83
4        ARG        14.22

In [60]:
import requests as req

In [61]:
# Save config info
url = "http://api.openweathermap.org/data/2.5/weather"

params = {"appid": "fb5402f7576ca409e1bbcb49d0ba91d9",
          "units": "metric"}

# Use 'for' loop to retrieve weather info by rows in dataframe
for column, row in df.iterrows():
    
    # Reference rows for 'q' param
    params["q"] = f'{row["COUNTRY"]}'
    
    # Get and print links for each country
    print(f'Weather information for {params["q"]}')
    weather_response = req.get(url, params)
    print(weather_response.url)
    weather_response  = weather_response.json()
    
    # Get weather data and input into dataframe
    df.set_value(column, "Latitude", weather_response.get("coord", {}).get("lat"))
    df.set_value(column, "Longitude", weather_response.get("coord", {}).get("lon"))
    df.set_value(column, "Max Temperature", weather_response.get("main", {}).get("temp_max"))
    df.set_value(column, "Min Temperature", weather_response.get("main", {}).get("temp_min"))
    df.set_value(column, "Sunrise", weather_response.get("sys", {}).get("sunrise"))
    df.set_value(column, "Sunset", weather_response.get("sys", {}).get("sunset"))

Weather information for Sao Tome and Principe
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Sao+Tome+and+Principe
Weather information for Papua New Guinea
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Papua+New+Guinea
Weather information for Solomon Islands

C:\Users\CAEAIZPU\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\CAEAIZPU\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\CAEAIZPU\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\CAEAIZPU\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\CAEAIZPU\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\CAEAIZPU\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Solomon+Islands
Weather information for Costa Rica
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Costa+Rica
Weather information for Malaysia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Malaysia
Weather information for Brunei
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Brunei
Weather information for Indonesia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Indonesia
Weather information for Panama
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Panama
Weather information for Bangladesh
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Bangladesh
Weather information for Colombia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Colombia
Weather information for Fiji
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Fiji
Weather information for Sierra Leone
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Sierra+Leone
Weather information for Singapore
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Singapore
Weather information for Liberia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Liberia
Weather information for Nicaragua
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Nicaragua
Weather information for Guyana
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Guyana
Weather information for Grenada
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Grenada
Weather information for Philippines
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Philippines
Weather information for Suriname
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Suriname
Weather information for Seychelles
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Seychelles
Weather information for Saint Lucia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Saint+Lucia
Weather information for Trinidad and Tobago
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Trinidad+and+Tobago
Weather information for Bhutan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Bhutan
Weather information for Equatorial Guinea
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Equatorial+Guinea
Weather information for Burma
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Burma
Weather information for Ecuador
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Ecuador
Weather information for Dominica
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Dominica
Weather information for Puerto Rico
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Puerto+Rico
Weather information for Jamaica
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Jamaica
Weather information for Mauritius
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Mauritius
Weather information for Guatemala
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Guatemala
Weather information for Honduras
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Honduras
Weather information for Maldives
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Maldives
Weather information for Iceland
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Iceland
Weather information for Cambodia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Cambodia
Weather information for Venezuela
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Venezuela
Weather information for Ukraine
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Ukraine
Weather information for Laos
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Laos
Weather information for Gabon
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Gabon
Weather information for Vietnam
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Vietnam
Weather information for Former Spanish colonies average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Former+Spanish+colonies+average++%28profile%29
Weather information for Brazil
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Brazil
Weather information for Latin America and Caribbean average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Latin+America+and+Caribbean+average++%28profile%29
Weather information for Peru
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Peru
Weather information for New Zealand
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=New+Zealand
Weather information for El Salvador
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=El+Salvador
Weather information for Sri Lanka
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Sri+Lanka
Weather information for Belize
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Belize
Weather information for Japan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Japan
Weather information for Guinea
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Guinea
Weather information for Republic of the Congo
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Republic+of+the+Congo
Weather information for Thailand
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Thailand
Weather information for Cameroon
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Cameroon
Weather information for Saint Vincent and the Grenadines
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Saint+Vincent+and+the+Grenadines
Weather information for Guinea-Bissau
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Guinea-Bissau
Weather information for Democratic Republic of the Congo
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Democratic+Republic+of+the+Congo
Weather information for Switzerland
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Switzerland
Weather information for Chile
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Chile
Weather information for Madagascar

http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Madagascar
Weather information for East Timor
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=East+Timor
Weather information for Nepal
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Nepal
Weather information for Albania
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Albania
Weather information for Haiti
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Haiti
Weather information for Saint Kitts and Nevis
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Saint+Kitts+and+Nevis
Weather information for Barbados
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Barbados
Weather information for Norway
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Norway
Weather information for Dominican Republic
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Dominican+Republic
Weather information for Hot countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Hot+countries+average++%28profile%29
Weather information for Catholic countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Catholic+countries+average++%28profile%29
Weather information for South Asia average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=South+Asia+average++%28profile%29
Weather information for Cote d'Ivoire
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Cote+d%27Ivoire
Weather information for Central African Republic
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Central+African+Republic
Weather information for Cuba
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Cuba
Weather information for The Bahamas
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=The+Bahamas
Weather information for South Korea
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=South+Korea
Weather information for Burundi
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Burundi
Weather information for Uruguay
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Uruguay
Weather information for Christian countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Christian+countries+average++%28profile%29
Weather information for Former British colonies average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Former+British+colonies+average++%28profile%29
Weather information for United Kingdom
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=United+Kingdom
Weather information for Emerging markets average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Emerging+markets+average++%28profile%29
Weather information for Rwanda
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Rwanda
Weather information for Ghana
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Ghana
Weather information for Malawi
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Malawi
Weather information for Uganda
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Uganda
Weather information for Togo
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Togo
Weather information for Slovenia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Slovenia
Weather information for Heavily indebted countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Heavily+indebted+countries+average++%28profile%29
Weather information for Nigeria
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Nigeria
Weather information for Bolivia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Bolivia
Weather information for Paraguay
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Paraguay
Weather information for Ireland
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Ireland
Weather information for Croatia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Croatia
Weather information for Austria
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Austria
Weather information for Sub-Saharan Africa average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Sub-Saharan+Africa+average++%28profile%29
Weather information for India
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=India
Weather information for Tanzania
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Tanzania
Weather information for South and Central Asia average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=South+and+Central+Asia+average++%28profile%29
Weather information for North Korea
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=North+Korea
Weather information for Benin
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Benin
Weather information for Mozambique
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Mozambique
Weather information for Antigua and Barbuda
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Antigua+and+Barbuda
Weather information for Religious countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Religious+countries+average++%28profile%29
Weather information for Bosnia and Herzegovina
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Bosnia+and+Herzegovina
Weather information for Georgia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Georgia
Weather information for Zambia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Zambia
Weather information for Angola
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Angola
Weather information for Sparsely populated countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Sparsely+populated+countries+average++%28profile%29
Weather information for Former French colonies average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Former+French+colonies+average++%28profile%29
Weather information for High income OECD countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=High+income+OECD+countries+average++%28profile%29
Weather information for Group of 7 countries (G7) average  (profile)

http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Group+of+7+countries+%28G7%29+average++%28profile%29
Weather information for Luxembourg
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Luxembourg
Weather information for Cold countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Cold+countries+average++%28profile%29
Weather information for Comoros
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Comoros
Weather information for France
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=France
Weather information for failed states average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=failed+states+average++%28profile%29
Weather information for Non-religious countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Non-religious+countries+average++%28profile%29
Weather information for NATO countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=NATO+countries+average++%28profile%29
Weather information for Portugal
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Portugal
Weather information for Europe average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Europe+average++%28profile%29
Weather information for Ethiopia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Ethiopia
Weather information for Belgium
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Belgium
Weather information for The Gambia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=The+Gambia
Weather information for Eastern Europe average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Eastern+Europe+average++%28profile%29
Weather information for Italy
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Italy
Weather information for Slovakia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Slovakia
Weather information for Swaziland
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Swaziland
Weather information for Lesotho
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Lesotho
Weather information for Eurozone average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Eurozone+average++%28profile%29
Weather information for Netherlands
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Netherlands
Weather information for European Union average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=European+Union+average++%28profile%29
Weather information for Mexico
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Mexico
Weather information for Burkina Faso
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Burkina+Faso
Weather information for United States
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=United+States
Weather information for Denmark
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Denmark
Weather information for Germany
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Germany
Weather information for Tajikistan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Tajikistan
Weather information for Senegal
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Senegal
Weather information for Muslim countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Muslim+countries+average++%28profile%29
Weather information for Czech Republic
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Czech+Republic
Weather information for Lebanon
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Lebanon
Weather information for Zimbabwe
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Zimbabwe
Weather information for Lithuania
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Lithuania
Weather information for Greece
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Greece
Weather information for China
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=China
Weather information for Latvia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Latvia
Weather information for Romania
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Romania
Weather information for Spain
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Spain
Weather information for Kenya
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Kenya
Weather information for Estonia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Estonia
Weather information for Sweden
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Sweden
Weather information for Republic of Macedonia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Republic+of+Macedonia
Weather information for Belarus
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Belarus
Weather information for Former Soviet republics average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Former+Soviet+republics+average++%28profile%29
Weather information for Bulgaria
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Bulgaria
Weather information for Poland
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Poland
Weather information for Turkey
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Turkey
Weather information for Argentina
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Argentina
Weather information for Hungary
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Hungary
Weather information for Armenia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Armenia
Weather information for Malta
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Malta
Weather information for Canada
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Canada
Weather information for Finland
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Finland
Weather information for Australia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Australia
Weather information for Kyrgyzstan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Kyrgyzstan
Weather information for Cyprus
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Cyprus
Weather information for South Africa

http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=South+Africa
Weather information for Pakistan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Pakistan
Weather information for Russia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Russia
Weather information for OPEC countries average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=OPEC+countries+average++%28profile%29
Weather information for Moldova
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Moldova
Weather information for Azerbaijan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Azerbaijan
Weather information for Israel
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Israel
Weather information for Sudan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Sudan
Weather information for Botswana
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Botswana
Weather information for Eritrea
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Eritrea
Weather information for Morocco
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Morocco
Weather information for Afghanistan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Afghanistan
Weather information for Chad
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Chad
Weather information for Namibia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Namibia
Weather information for Somalia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Somalia
Weather information for Mali
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Mali
Weather information for Syria
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Syria
Weather information for Kazakhstan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Kazakhstan
Weather information for Mongolia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Mongolia
Weather information for Cape Verde
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Cape+Verde
Weather information for Iran
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Iran
Weather information for Djibouti
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Djibouti
Weather information for Iraq
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Iraq
Weather information for Tunisia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Tunisia
Weather information for Uzbekistan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Uzbekistan
Weather information for Middle Eastern and North Africa average  (profile)
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Middle+Eastern+and+North+Africa+average++%28profile%29
Weather information for Yemen
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Yemen
Weather information for Turkmenistan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Turkmenistan
Weather information for Niger
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Niger
Weather information for Oman
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Oman
Weather information for Kuwait
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Kuwait
Weather information for Jordan
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Jordan
Weather information for Mauritania
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Mauritania
Weather information for Algeria
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Algeria
Weather information for Bahrain
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Bahrain
Weather information for United Arab Emirates
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=United+Arab+Emirates
Weather information for Qatar
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Qatar
Weather information for Saudi Arabia
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Saudi+Arabia
Weather information for Libya
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Libya
Weather information for Egypt
http://api.openweathermap.org/data/2.5/weather?appid=fb5402f7576ca409e1bbcb49d0ba91d9&units=metric&q=Egypt

In [62]:
df.head()

,ID,COUNTRY,RAIN (mm),DATE,blank,blank 2,Latitude,Longitude,Max Temperature,Min Temperature,Sunrise,Sunset
0,1,Sao Tome and Principe,3200.0,2011,NaN,NaN,1.00,7.00,27.21,27.21,1.542345e+09,1.542389e+09
1,2,Papua New Guinea,3142.0,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Solomon Islands,3028.0,2011,NaN,NaN,-8.00,159.00,28.81,28.81,1.542308e+09,1.542353e+09
3,4,Costa Rica,2926.0,2011,NaN,NaN,24.59,-107.39,30.00,30.00,1.542375e+09,1.542414e+09
4,5,Malaysia,2875.0,2011,NaN,NaN,2.50,112.50,25.00,25.00,1.542320e+09,1.542363e+09

In [63]:
new_df = df.drop(['ID', 'DATE', 'blank', 'blank 2'], axis=1).head()

In [64]:
new_df.head()

,COUNTRY,RAIN (mm),Latitude,Longitude,Max Temperature,Min Temperature,Sunrise,Sunset
0,Sao Tome and Principe,3200.0,1.00,7.00,27.21,27.21,1.542345e+09,1.542389e+09
1,Papua New Guinea,3142.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Solomon Islands,3028.0,-8.00,159.00,28.81,28.81,1.542308e+09,1.542353e+09
3,Costa Rica,2926.0,24.59,-107.39,30.00,30.00,1.542375e+09,1.542414e+09
4,Malaysia,2875.0,2.50,112.50,25.00,25.00,1.542320e+09,1.542363e+09

In [102]:
import time

In [110]:
new_df.dropna()

,COUNTRY,RAIN (mm),Latitude,Longitude,Max Temperature,Min Temperature,Sunrise,Sunset
0,Sao Tome and Principe,3200.0,1.00,7.00,27.21,27.21,1.542345e+09,1.542389e+09
2,Solomon Islands,3028.0,-8.00,159.00,28.81,28.81,1.542308e+09,1.542353e+09
3,Costa Rica,2926.0,24.59,-107.39,30.00,30.00,1.542375e+09,1.542414e+09
4,Malaysia,2875.0,2.50,112.50,25.00,25.00,1.542320e+09,1.542363e+09

In [111]:
sunrise = new_df['Sunrise'].dropna().apply(time.gmtime)
sunrise

0     (2018, 11, 16, 5, 14, 31, 4, 320, 0)
2    (2018, 11, 15, 18, 54, 12, 3, 319, 0)
3    (2018, 11, 16, 13, 26, 16, 4, 320, 0)
4    (2018, 11, 15, 22, 14, 29, 3, 319, 0)
Name: Sunrise, dtype: object

In [112]:
sunset = new_df['Sunset'].dropna().apply(time.gmtime)
sunset

0    (2018, 11, 16, 17, 18, 56, 4, 320, 0)
2     (2018, 11, 16, 7, 23, 12, 4, 320, 0)
3     (2018, 11, 17, 0, 22, 12, 5, 321, 0)
4    (2018, 11, 16, 10, 14, 50, 4, 320, 0)
Name: Sunset, dtype: object

In [ ]:
Weather_df = Weather_df[["COUNTRY","RAIN (mm)","Latitude","Longitud",
                                "Max Temperature","Min Temperature","% Passing Math","% Passing Reading",
                                 "Overall Passing Rate"]]